---
humilis-kinesis-proxy:
    description:
        A dummy environment used for testing the kinesis-proxy plugin.

    layers:
        - layer: kinesis
          layer_type: streams
          streams:
           - name: Stream1
             shard_count: 1

        - layer: kproxy
          layer_type: kinesis-proxy
          sent_at_path: sentAt
          api_resources:
            - path: hook1
              partition_key_path: pk1
            - path: hook2
            - path: hook3/hook4
            - path: hook3/hook5
            - path: hook6/hook7/hook8

          stream_name:
            $layer_output:
                layer_name: kinesis
                output_name: Stream1
