---
humilis-kinesis-proxy:
    description:
        A dummy environment used for testing the kinesis-proxy plugin.

    layers:
        - layer: kinesis
          layer_type: streams
          streams:
           - name: Stream1
             shard_count: 1

        - layer: kproxy
          layer_type: kinesis-proxy
          certificate_arn: "arn:aws:acm:us-east-1:531820706523:certificate/220d535a-69fc-4e06-b5a0-dd0169d773b5"
          sent_at_path: sentAt
          api_resources:
            - path: nfhbe
            - path: zedek/v1/import

          stream_name:
            $layer_output:
                layer_name: kinesis
                output_name: Stream1
